<div class="poc-footer">
    <div class="footer-rectangle">
        <div class="main-div">
            <div class="row">
                <div class="logo-div col-md-4 col-sm-12">
                    <div class="left-content">
                        <img src="/assets/images/fanease-logo@3x.png">
                        <hr>
                        <p>
                            Fanease is video service for content creators. Many desktop publishing packages and web page editors now
                        </p>
                    </div> <!--//.left-content -->
                </div> <!--//.logo-div-->

                <div class="menu-div col-md-8 col-sm-12">
                    <div class="right-content">
                        <ul>
                            <li>ABOUT US</li>
                            <li>CONTACT US</li>
                            <li>PRIVACY POLICY</li>
                            <li>TERMS OF USE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-div">
            <div class="col-md-6 col-sm12 social-media-div">
                <ul>
                    <li>
                        <img src="/assets/images/g+@3x.png">
                    </li>
                    <li>
                        <img src="/assets/images/fb1@3x.png">
                    </li>
                    <li>
                        <img src="/assets/images/tw@3x.png">
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm12 copyright-div">
                © 2019 Fanease. All rights are reserved
            </div>
        </div>
    </div>
</div>
