

<div *ngIf="showModal">
    <div id="myModal" class="modal fade bd-example-modal-sm bd-example-modal-lg">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="header-block">
                        <div class="close" data-dismiss="modal" #closeBtn>
                            <i class="fa fa-times medium-icon" aria-hidden="true"></i>
                        </div>
                        <p class="Share-a-link">
                            Share a link
                        </p>
                    </div>
                    <div class="media-icons">
                        <div class="inline-block">
                            <img src="/assets/images/embed.png">
                            <p>Embed</p>
                        </div>
                        <div class="inline-block">
                            <img src="/assets/images/fb.png">
                            <p>Facebook</p>
                        </div>
                        <div class="inline-block">
                            <img src="/assets/images/twitter.png">
                            <p>Twitter</p>
                        </div>
                        <div class="inline-block">
                            <img src="/assets/images/youtube.png">
                            <p>YouTube</p>
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="iframe-width560">
                            <p>
                                < iframe width="560" height="315" src="https://www.youtube.com/embed/fV8dqctTNgE"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                    < /iframe> </p> </div> </div> <div class="copy-link">
                                        <div class="fanease-url inline-block">
                                            fanease.com/my_video
                                        </div>
                                        <div class="copy inline-block">
                                            COPY
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="poc-footer">
        <div class="footer-rectangle">
            <div class="main-div">
                <div class="row">
                    <div class="logo-div col-md-6 col-sm-12">
                        <div class="left-content">
                            <img src="/assets/images/xfl/footer-logo@3x.png">
                            <hr>
                            <p>
                                The Houston Roughnecks are a professional American football team based in Houston, Texas. The team is an owned-and-operated member of the new XFL founded by Vince McMahon of World Wrestling Entertainment. The team will play its home games at TDECU Stadium.
                            </p>
                        </div> <!--//.left-content -->
                    </div> <!--//.logo-div-->

                    <div class="menu-div col-md-6 col-sm-12">
                        <div class="right-content">
                            <ul>
                                <li>ABOUT US</li>
                                <li>CONTACT US</li>
                                <li>PRIVACY POLICY</li>
                                <li>TERMS OF USE</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-div">
                <div class="col-md-6 col-sm12 social-media-div">
                    <ul>
                        <li>
                            <img src="/assets/images/g+@3x.png">
                        </li>
                        <li>
                            <img src="/assets/images/fb1@3x.png">
                        </li>
                        <li>
                            <img src="/assets/images/tw@3x.png">
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm12 copyright-div">
                    © 2020 XFL. All rights are reserved
                </div>
            </div>
        </div>
    </div>
