<nav class="navbar navbar-light bg-light" id="main-navbar">
  <div class="container-fluid d-flex align-items-center pull-right">
    <div class="row">
        <a class="navbar-brand ml-3 ml-md-5 ml-xs-3" routerLink="/">
          <img class="navbar-logo" src="/assets/images/Group 4@3x.png">
        </a>
        <form class="form-inline my-2 col-2 col-md-6 col-lg-10 pl-4 pl-lg-5 ">
          <input class="form-control" type="search" placeholder="Live search..." aria-label="Search">
        </form>
    </div>
    <!-- Logo -->
    

  </div>
</nav>
