<nav class="navbar navbar-light" id="main-navbar">
  <div class="container-fluid d-flex align-items-center pull-right">
    <div class="row">
        <div class="ml-3 ml-md-5 ml-xs-3">
            <a class="navbar-brand " routerLink="/">
              
              <img class="navbar-logo" [src]="logoSrc">
            </a>
        </div>
        <div class="my-2 col-5 col-md-5 col-lg-8 pl-4 pl-lg-5">
            <form class="form-inline  ">
                <input class="form-control" type="search" placeholder="Live search..." aria-label="Search">
              </form>
        </div>
        
        <div class="col-5 col-md-2 col-lg-2 pl-4 pl-lg-5 mt-3">
            <!-- <a class="text-decoration-none" routerLink="/videos">Videos</a> -->
        </div>
    </div>
    <!-- Logo -->
  </div>
</nav>
