<app-header [logoSrc]="logoSrc"></app-header>
<div class="wrapper one-nav-pad mt-lg-3 mt-md-3 mt-3">
  <div class="container-fluid h-100">
    <div class="row m-0 w-100 h-100">
      <div class="col-12  p-0">
        <div class="video-section d-flex align-items-center justify-content-center h-100">
		        <app-video-ad *ngIf="videoSrc" [videoSrc]="videoSrc" [videoAdTemplate]="templateObj"></app-video-ad>
        </div>
      </div>
    </div>
    <!-- <p>00:{{counter < 10 ? '0'+ counter : counter}}</p> -->
    <app-video-description-content></app-video-description-content>
    <app-footer></app-footer>
  </div>
</div>
